$primaryColor: #022C43;

footer,
.background,
.navbar {
    background-color: $primaryColor !important;
}

.button {
    text-align: center;
}

.button .btn {
    min-width: 45%;
    margin-bottom: 5px;
}